*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #fff;
    min-height: 100vh;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,0.05);
    z-index: 100000;
}
.logo{
    height: 60px;
    line-height: 60px;
    color: #12334e;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
}
#toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #9051ff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: .2s;
}
#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: .2s;
}
#toggle.active::before{
    transform: translateY(0px) rotate(-45deg);
}
#toggle.active::after{
    transform: translateY(0px) rotate(45deg);
}
#toggle.active{
    background: #f7226a;
}
#navbar{
    position: relative;
    height: 60px;
    right: 60px;
    background: #fff;
    transition: .2s;
    width: 0px;
    overflow: hidden;
}
#navbar.active{
    width: 660px;
}
#navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    color:#12334e;
    line-height: 60px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 15px;
    letter-spacing: 2px;
}
#navbar ul li a:hover{
    background: #9051ff;
    color: white;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f5f5f5;
    font-size: 18vw;
    font-weight: 700;
}
@media (max-width: 991px)
{
    #navbar{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navbar.active{
        height: calc(100vh - 60px);
        bottom: 0;
        width: 100%;
    }
    #navbar ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}