body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    text-align: center;
    background-color: #438092;
    color: aliceblue;
    font-weight: bold;
    font-size: 1.5em;
}
input{
    font-size: 1em;
}
button{
    border: none;
    background-color: #72b5cf;
    color: white;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: #2a9ecc;

}